<?xml version="1.0" encoding="utf-8"?>

<!--
// Copyright (C) SquidEyes, LLC. - All Rights Reserved
// Unauthorized copying of this file, via any medium is strictly prohibited
// Proprietary and Confidential
// Written by Louis S. Berman <louis@squideyes.com>, 9/18/2016
-->
<packages>
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
</packages>